<h2>Recommendation</h2><br>

  <p><label><b>Recommendation Title</b>: </label> <span class="recommendationTitle"><%= @recommendation.title %></span></p>
  <p><label><b>Recommendation Description</b>:</label> <span class="recommendationDescription"><%= @recommendation.description %></span></p>
  <p><label><b>Recommendation Category</b>:</label> <span class="recommendationCategory"><%= @recommendation.category.name %></span></p>
  <p><label><b>Recommendation Author</b>:</label> <span class="recommendationAuthor"><%= @recommendation.user.name %></span></p>
  <p><a href="#" class="js-next" data-id="<%= @recommendation.id%>" data-cat-id="<%= @recommendation.category.id%>">Next <%= @recommendation.category.name %> Recommendation</a></p>
<!-- I think I may need to make a nested route in order to do this properly-->

<% if current_user.id == @recommendation.user_id %>

  <p><%= link_to "Edit Recommendation", edit_category_recommendation_path(@category, @recommendation)%></p>

  <%= form_tag(category_recommendation_path(@category, @recommendation), method: "delete") do %>
    <div><%= submit_tag 'Delete Recommendation', class: "btn btn-primary" %></div>
  <% end %>
<% end %>
  <br>

  <h3>Comments:</h3><br>
  <div class="comments">
    <ul>
    <%= render partial: 'comment', collection: @recommendation.comments %><br>
    </ul>
  </div>

  <%= render 'comments/form', recommendation: @recommendation %>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function(e) {
      e.preventDefault();
      let catId = $(".js-next").attr("data-cat-id");
      //this is problematic because the next recommendation in this category is not necessarily the next number....
      //maybe create an iterator that checks each subsequent recommendation.id for where there is a category match
      let recId = $(".js-next").attr("data-id");
      debugger;
      <% if @category.recommendations %>
        <div class="error_message">
          <p>This is the last recommendation in this category.</p>
        </div>
      <% end %>
      $.get("/categories/" + catId + "/recommendations/" + nextId + ".json", function(data) {
        let recommendation = data;
        $(".recommendationTitle").text(recommendation["title"]);
        $(".recommendationDescription").text(recommendation["description"]);
        $(".recommendationCategory").text(recommendation["category"]);
        $(".recommendationAuthor").text(recommendation["author"]);
        // re-set the id to current on the link
        $(".js-next").attr("data-id", recommendation["id"]);
      });
    });
  });
</script>
