<h2>Recommendation</h2><br>
<div class="error_message"></div>
  <p><label><b>Recommendation Title</b>: </label> <span class="recommendationTitle"><%= @recommendation.title %></span></p>
  <p><label><b>Recommendation Description</b>:</label> <span class="recommendationDescription"><%= @recommendation.description %></span></p>
  <p><label><b>Recommendation Category</b>:</label> <span class="recommendationCategory"><%= @recommendation.category.name %></span></p>
  <p><label><b>Recommendation Author</b>:</label> <span class="recommendationAuthor"><%= @recommendation.user.name %></span></p>
  <p><a href="#" class="js-next" data-id="<%= @recommendation.id%>" data-cat-id="<%= @recommendation.category.id%>">Next <%= @recommendation.category.name %> Recommendation</a></p>

<% if current_user.id == @recommendation.user_id %>

  <p><%= link_to "Edit Recommendation", edit_category_recommendation_path(@category, @recommendation)%></p>

  <%= form_tag(category_recommendation_path(@category, @recommendation), method: "delete") do %>
    <div><%= submit_tag 'Delete Recommendation', class: "btn btn-primary" %></div>
  <% end %>
<% end %>
  <br>

  <h3>Comments:</h3><br>
  <div class="comments">
    <ul id="comment-info">
      <!-- replaced partial with JSON, however no longer able to delete own comments; to update to allow -->
      <!--   render partial: 'comment', collection: @recommendation.comments %><br> -->
    </ul>
  </div>

  <%= render 'comments/form', recommendation: @recommendation %>
